/******* COLOURS ********
 * 3C3C3C -- Jet Grey   *
 * FEFCFB -- White      *
 * 7D001C -- Burgundy   *
 * C99200 -- Gold (A1)  *
 * F3E0D9 -- Pink (A2)  *
 ************************/

/* Shared structure */

body {
    font-family: "Oxygen", "Arial";
    position: relative;
}

.navbar {
    box-shadow: 0 -8px 12px 2px #111;
    /*transition: all 0.3s ease;*/
} 

#navlogo_img {
    opacity: 0;
    width: 0px;
}
#navlogo_img_watchpage {
    opacity: 1;
    width: 80px;
}

#navlogo_text, #navlogo_img {
    position: relative;
    transition: all 0.8s ease;
}

.scrolled-top {
    opacity: 0;
}

.main {
    width: 100%;
    overflow-x: hidden;
}

.jumbotron h1 {
    font-size: 48px;
}

.jumbotron-image {
    height:150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1400px) {
    .jumbotron-image {
        height: 200px;
    }
}

/* Curtain background */
/* CSS for abandoned version::
.curtains {   
    width: 100vw;
    top: 80px;
    z-index: 100;
}

.curtain-top {
    z-index: 300;
}

.curtain-wrapper {
    width: 100%;
    height: 100%;
}

.curtain-panel {
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;
    z-index: 200;
    transition: transform 1.4s ease;
}

.curtain-left {
    background-image: url('../../static/img/curtain-left.png');
}

.curtain-right {
    background-image: url('../../static/img/curtain-right.png');
}
.curtain-top {
    background-image: url('../../static/img/curtains-top.png');
    background-size: 100% auto;
    width: 100%;
}

*/

.curtains {   
    width: 100vw;
    z-index: 300;
    background-color: #111;
}

.curtain-top img {
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    z-index: 100;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.video-wrapper {
    top: 300px;
    z-index: 100;
    height: 60vw;
    max-width: 100%;
}


.scroll-active {
}

#form-results-box {
    opacity = 0;
    transition: all 0.6s ease;
}

/* People Page */
.people-group {
}


.people-hr {
    height: 150px;
    border-style: solid;
    border-color: black;
    border-width: 3px 0 0 0;
    border-radius: 130px 0 0 0;
}

.flip-card {
    border: none;
    perspective: 1000px;
    background-color: transparent;
    background-size: fill;
    width: 288px;
    height: 403px;
    opacity: 0;
    transform: translateY(4em) rotateZ(-4deg);
    transition: transform 4s .25s cubic-bezier(0, 1, 0.3, 1),
                opacity .3s .24s ease;

}

.flip-card.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg);
}

.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-back {
    transform: rotateY(180deg);
    background-color: transparent;
    background-size: fill;
}

.name-credit-separator:last-of-type {
    display: none;
}

/* GOODIES PAGE */
@media (min-width: 768px) {
    .goodies-box {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .goodies-box {
        width: 80%;
    }
}

.script {
    font-family: 'Courier', 'monospace';
}
.script-title {
    font-weight: bold;
}
.script-action {
    font-style: italic;
    text-align: left;
}
.script-char {
    font-weight: bold;
    margin-bottom: 0;
}
.script-dial {
    width: 60%;
    text-align: left;
    align-items: center;
}
.script-dial-ital {
    font-style: italic;
}
.script-slug {
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
}

/* TIMELINE PAGE */
.timeline-wrapper, .timeline-wrapper-narrow {
    width: 80vw;
    margin: 0 auto;
    position: relative;
    transform:          translateX(0);
    -webkit-transform:  translateX(0);
}  

/*@supports (-moz-appearance:meterbar) {
    .timeline-wrapper-wrapper {
        display: none;
    }
    .timeline-wrapper-wrapper-narrow {
        display: flex;
    }

    @media (min-width: 992px) {
        .timeline-wrapper-wrapper {
            display: flex;
        }
        .timeline-wrapper-wrapper-narrow {
            display: none;
        }
    }
}*/

@media (min-width: 992px) {
    .timeline-wrapper-narrow {
        width: 55vw;
    }
}

@media (min-width: 1200px) {
    .timeline-wrapper-narrow {
        width: 45vw;
    }
}

@media (min-width: 1400px) {
    .timeline-wrapper-narrow {
        width: 38vw;
    }
    .timeline-wrapper {
        width: 60vw;
    }
}

.timeline-wrapper-wrapper, .timeline-wrapper-wrapper-narrow {
    overflow-y: hidden;
    overflow-x: visible;
}

.timeline-item {
    display: flex;
    width: 100%;
    z-index: 200;
    transition: all 0.1s ease;
}

   
.timeline-wrapper > .timeline-item:nth-child(even) {
    justify-content: right;
    padding-left: 200px;
}

.timeline-wrapper > .timeline-item:not(:nth-child(even)) {
    justify-content: left;
    padding-right: 200px;
}

.timeline-item::before {
    content:"";
    width: 5px;
    background-color: #3c3c3c;
    position: absolute;
    top:0;
    bottom:0;
    left:50%;
    z-index: 100;
}

.timeline-item::after {
    content:"";
    width: 50px;
    height:5px;
    position: absolute;
    line-height: 50px;
    background-color: #3c3c3c;
    right: 50%;
    z-index: 100;
}

.timeline-wrapper > .timeline-item:nth-child(even)::after {
    transform:          translateX(100%);
    -webkit-transform:  translateX(100%);
}

.timeline-wrapper-narrow > .timeline-item::after {
    transform:          translateX(50%);
    -webkit-transform:  translateX(50%);
}

/* Helpers for positioning */

.reversed {
    transform: rotateY(180deg);
    transition: none;
}

/* Fonts */
@font-face {
    font-family: "Jaspers";
    src: url('../../static/fonts/Jaspers.ttf');
}

.logo-font {
    font-family: "Allentown", "Helvetica";
}

.sub-font {
    font-family: "casablanca-urw", sans-serif;
}

.sub-font-light {
    font-family: "casablanca-urw", sans-serif;
    font-weight: 300;
}

.handwritten {
    font-family: "Jaspers", "Times New Roman";
}
