{% set hero = hero|default("active") %}
{% set nav = nav|default("active") %}
{% set nomargin = nomargin|default("false") %}
{% set teampage = teampage|default("false") %}

<html>
    <head>
        <title>SkuleNite 2T1</title>

        <!-- Styling + Bootstrap -->
        <link rel='stylesheet' href='{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}'>
        <link rel='stylesheet' href='{{ url_for('static', filename='css/main.css') }}'>
        <script src='{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}'></script>
        
        <!-- Custom JS -->
        {% block curtain_scroll %}{% endblock %}
        {% block team_js %}{% endblock %}
        {% block switch_js %}{% endblock %}
        {% if hero == 'active' %}<script src='{{ url_for('static', filename='js/nav-scroll.js') }}'></script>{% endif %}

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="96x96" href='{{ url_for('static', filename='img/favicon-96x96.png') }}'>
        <link rel="icon" type="image/png" sizes="32x32" href='{{ url_for('static', filename='img/favicon-32x32.png') }}'>
        <link rel="icon" type="image/png" sizes="16x16" href='{{ url_for('static', filename='img/favicon-16x16.png') }}'>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
        <link href="https://use.typekit.net/gbb4rnm.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    </head>
    <body class="bg-info text-dark">
        {% if hero == "active" %}
        <div class="jumbotron text-light jumbotron-image {% if nav == 'inactive' %}mb-2 {% endif %}" style="background-image: url( {{ url_for('static', filename='img/hero.jpg') }} );">
        </div>
        {% endif %}

        {% if nav == "active" %}
        <nav class="navbar sticky-top navbar-expand-md navbar-light bg-info shadow {% if nomargin == 'false' %} fixed-top mb-4 {% endif %}" id="navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img id="navlogo_img{% if nomargin != 'false' %}_watchpage{% endif %}" src='{{ url_for('static', filename='img/logo_nav.png') }}'>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navToggle">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 sub-font">
                <li class="nav-item">
                  <a class="nav-link {% block nav_watch %}{% endblock %} fs-2" aria-current="page" href="{{ url_for('home') }}">Watch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block nav_team %}{% endblock %} fs-2" href="{{ url_for('team') }}">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block nav_goodies %}{% endblock %} fs-2" href="{{ url_for('goodies') }}">Goodies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block nav_history %}{% endblock %} fs-2" href="{{ url_for('history') }}">History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block nav_donors %}{% endblock %} fs-2" href="{{ url_for('donors') }}">Donors</a>
                </li>
              </ul>
              {% if teampage == 'true' %}
              <ul class='navbar-nav mb-2 mb-lg-0 sub-font d-none d-lg-flex'>
                <li class='nav-item'>
                  <a class='nav-link fs-3' href='#cast'>Cast</a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link fs-3' href='#band'>Band</a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link fs-3' href='#crew'>Crew</a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link fs-3' href='#marketing'>Marketing</a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link fs-3' href='#creative'>Creative</a>
                </li>
              </ul>
              {% endif %}
              {% if hero != 'active' %}
              <a id='curtain-toggle' class='d-none d-md-block btn btn btn-danger float-end' onclick='toggleCurtains()'>Hide Curtains</a>
              {% endif %}
            </div>
          </div>
        </nav>
        {% endif %}

        <section>

            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
        </section>

        <footer class='footer mt-4 py-2 bg-danger'>
            <div class='container d-flex justify-content-between'>
                <div class='me-auto'>
                    <a class='me-3 fs-3' href='https://www.instagram.com/skulenite' target='_blank'><i class="bi bi-instagram"></i></a>
                    <a class='me-3 fs-3' href='https://www.facebook.com/skulenite' target='_blank'><i class="bi bi-facebook"></i></a>
                    <a class='me-3 fs-3' href='https://www.twitter.com/skulenite' target='_blank'><i class="bi bi-twitter"></i></a>
                    <a class='me-3 fs-3' href='https://www.youtube.com/skulenite' target='_blank'><i class="bi bi-youtube"></i></a>
                    <a class='me-3 fs-3' href='mailto:director@skulenite.skule.ca' target='_blank'><i class="bi bi-envelope"></i></a>
                </div>
                <div class='me-5 align-middle my-auto'>
                    <span class='text-muted align-middle fs-6'>Website designed by Gabe Sher, from home 💜</span>
                </div>
            </div>
        </footer>
    </body>
</html>
