{% set hero = hero|default("active") %}
{% set nav = nav|default("active") %}
{% set nomargin = nomargin|default("false") %}

<html>
    <head>
        <title>SkuleNite 2T1</title>

        <!-- Styling + Bootstrap -->
        <link rel='stylesheet' href='{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}'>
        <link rel='stylesheet' href='{{ url_for('static', filename='css/main.css') }}'>
        <script src='{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}'></script>
        
        <!-- Custom JS -->
        {% block curtain_scroll %}{% endblock %}
        {% block team_js %}{% endblock %}
        <script src='{{ url_for('static', filename='js/nav-scroll.js') }}'></script>

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="96x96" href='{{ url_for('static', filename='img/favicon-96x96.png') }}'>
        <link rel="icon" type="image/png" sizes="32x32" href='{{ url_for('static', filename='img/favicon-32x32.png') }}'>
        <link rel="icon" type="image/png" sizes="16x16" href='{{ url_for('static', filename='img/favicon-16x16.png') }}'>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
        <link href="https://use.typekit.net/gbb4rnm.css" rel="stylesheet">
    </head>
    <body class="bg-info text-dark">
        {% if hero == "active" %}
        <div class="jumbotron text-light jumbotron-image {% if nav == 'inactive' %}mb-2 {% endif %}" style="background-image: url( {{ url_for('static', filename='img/hero.png') }} );">
        </div>
        {% endif %}

        {% if nav == "active" %}
        <nav class="navbar sticky-top navbar-expand-md navbar-light bg-info shadow {% if nomargin == 'false' %} fixed-top mb-4 {% endif %}" id="navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img id="navlogo_img" src='{{ url_for('static', filename='img/logo_nav.png') }}'>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navToggle">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 sub-font">
                <li class="nav-item">
                  <a class="nav-link {% block nav_watch %}{% endblock %} fs-2" aria-current="page" href="{{ url_for('watch') }}">Watch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block nav_team %}{% endblock %} fs-2" href="{{ url_for('team') }}">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block nav_goodies %}{% endblock %} fs-2" href="{{ url_for('goodies') }}">Goodies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block nav_history %}{% endblock %} fs-2" href="{{ url_for('history') }}">History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% block nav_thanks %}{% endblock %} fs-2" href="{{ url_for('thanks') }}">Thanks</a>
                </li>
            </div>
          </div>
        </nav>
        {% endif %}

        <section>

            <div class="main">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </body>
</html>
