{% extends "base.html" %}
{% block nav_donors %}active{% endblock %}
{% block team_js %}<script src="{{ url_for('static', filename='js/show-on-scroll.js') }}" type='text/javascript'></script>{% endblock %}

{% block content %}
    <section class='container'>

      <p class='text-center text-primary sub-font fs-4 mt-3 mb-2'>To celebrate a century of laughter, Skule Nite alumni have established a new student scholarship
– making sure that students have the support they need to pursue both academics and extracurriculars.</p>
      <p class='text-center text-primary sub-font fs-4 mb-2'>We're grateful to all of the donors who have made this scholarship possible and given generously to support future Skule Nite productions. Thank you, fossils & alumni!</p>
  
      <h1 class='h2 mt-2 text-center sub-font pt-5'> PRODUCTION ROW ($5,000+) </h1>
      <hr class='people-hr border-dark mb-5' />
      <section class='d-flex flex-row justify-content-center flex-wrap text-center'>
        {% for donor in prodro %}
            <span class='col-12 col-xs-6 col-md-4 col-xl-3 sub-font fs-4 mx-3'>{{donor}}</span>
        {% endfor %}
      </section>

      <h1 class='h2 mt-2 text-center sub-font pt-5'> SKULE NITE LEGEND ($1,921 - $4,999) </h1>
      <hr class='people-hr border-dark mb-5' />
      <section class='d-flex flex-row justify-content-center flex-wrap text-center'>
        {% for donor in legend %}
        <span class='col-12 col-xs-6 col-md-4 col-xl-3 sub-font fs-4 mx-3'>{{donor}}</span>
        {% endfor %}
      </section>

      <h1 class='h2 mt-2 text-center sub-font pt-5'> SKULE NITE FOSSIL ($1,000 - $1,921) </h1>
      <hr class='people-hr border-dark mb-5' />
      <section class='d-flex flex-row justify-content-center flex-wrap text-center'>
        {% for donor in fossil %}
            <span class='col-12 col-xs-6 col-md-4 col-xl-3 sub-font fs-4 mx-3'>{{donor}}</span>
        {% endfor %}
      </section>

      <h1 class='h2 mt-2 text-center sub-font pt-5'> SKULE NITE FLUNKY ($100 - $999) </h1>
      <hr class='people-hr border-dark mb-5' />
      <section class='d-flex flex-row justify-content-center flex-wrap text-center'>
        {% for donor in flunky %}
            <span class='col-12 col-xs-6 col-md-4 col-xl-3 sub-font fs-4 mx-3'>{{donor}}</span>
        {% endfor %}
      </div>  

    </section>
{% endblock %}
