{% extends "base.html" %}
{% block nav_programme %}active{% endblock %}

{% block content %}
        <div class='container d-flex flex-column justify-content-center' style='height: 70%;'>
            <h1 class='fs-1 text-center handwritten text-primary fw-bold'>OH NO! You've gone somewhere I haven't made real yet! Please check your URL and try again.</h1>
            <p class='fs-3 text-center handwritten text-primary'> - Gabe Sher, three-time Skule Nite Webmaster</p>
        </div>


{% endblock %}
