{% extends "base.html" %}
{% block nav_goodies %}active{% endblock %}
{% block switch_js %}<script src="{{ url_for('static', filename='js/switch.js') }}" type='text/javascript'></script>{% endblock %}

{% block content %}
    <section class='container'>
       
        <!-- SKETCHES -->
        <section id="sketches" class='container mb-4'>
            <h1 class='h1 text-center sub-font'> SKETCHES </h1>
            <hr class='people-hr border-dark mb-4' />
            <div class='row w-100 w-sm-80 m-auto mb-4'>
              <div class='card text-center shadow script g-0 w-80 m-auto'>
                <!-- nav -->
                <div id='sketch-box' class='card-header p-0'>
                    <div class='btn-group w-100' role='group' aria-label='Sketch navigation'>
                        <a role='button' class='btn w-10 text-wrap fs-xs-4 fs-sm-3 pb-0' onclick="switchSketch('prev', '');" aria-label='Previous sketch'>
                            <span aria-hidden='true'>&laquo;</span>
                        </a>
                        <div class='btn-group w-80' role='group'>
                            <button id='sketch-dropdown' type='button' class='btn dropdown-toggle border-start border-end text-wrap fs-xs-4 fs-sm-3 pb-0' data-bs-toggle="dropdown" aria-expanded='false' aria-label='Pick a sketch'>{{sketches[0]['display_title']}}</button>
                            <ul class='dropdown-menu w-100' aria-labelledby='sketch-dropdown'>
                                {% for sketch in sketches %}
                                    <li><a class='dropdown-item' onclick="switchSketch('{{sketch['title']}}', '{{sketch['display_title']}}');">{{sketch['display_title']}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a role='button' class='btn w-10 text-wrap fs-xs-4 fs-sm-3 pb-0' onclick="switchSketch('next', '');" aria-label='Next sketch'>
                            <span aria-hidden='true'>&raquo;</span>
                        </a>
                    </div>
                </div>
                
                <!-- The Sketch Itself -->
                <div class='card-body'>
                    {% for sketch in sketches %}
                        <div class='sketch-script-text {% if sketch['title'] != sketches[0]['title'] %}d-none {% endif %}' id='{{sketch['title']}}'>
                            {% for line in sketch['script'] %}
                                <p class='script-{{line['type']}}'> {{line['text']}} </p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
              </div>
            </div>

        <!-- LYRICS -->
        <section id="lyrics" class='container mb-4'>
            <h1 class='h1 text-center sub-font'> LYRICS </h1>
            <hr class='people-hr border-dark mb-4' />
            <div class='row w-100 w-sm-80 m-auto mb-4'>
              <div class='card text-center shadow script g-0 w-80 m-auto'>
                <!-- nav -->
                <div id='song-box' class='card-header p-0'>
                    <div class='btn-group w-100' role='group' aria-label='Song lyric navigation'>
                        <a role='button' class='btn w-10 text-wrap fs-xs-4 fs-sm-3 pb-0' onclick="switchSong('prev', '');" aria-label='Previous song'>
                            <span aria-hidden='true'>&laquo;</span>
                        </a>
                        <div class='btn-group w-80' role='group'>
                            <button id='song-dropdown' type='button' class='btn dropdown-toggle border-start border-end text-wrap fs-xs-4 fs-sm-3 pb-0' data-bs-toggle="dropdown" aria-expanded='false' aria-label='Pick a song'>{{songs[0]['display_title']}}</button>
                            <ul class='dropdown-menu w-100' aria-labelledby='song-dropdown'>
                                {% for song in songs %}
                                    <li><a class='dropdown-item' onclick="switchSong('{{song['title']}}', '{{song['display_title']}}');">{{song['display_title']}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a role='button' class='btn w-10 text-wrap fs-xs-4 fs-sm-3 pb-0' onclick="switchSong('next', '');" aria-label='Next song'>
                            <span aria-hidden='true'>&raquo;</span>
                        </a>

                    </div>
                </div>
                
                <!-- The Lyrics Themselves -->
                <div class='card-body'>
                    {% for song in songs %}
                        <div class='song-script-text text-center {% if song['title'] != songs[0]['title'] %}d-none {% endif %}' id='{{song['title']}}'>
                            {% for line in song['lines'] %}
                                <p class='{mb-1'>{{line}}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
              </div>
            </div>
        </section> 

    </section>
{% endblock %}
