{% extends "base.html" %}
{% set hero = "inactive" %}
{% set nomargin = "true" %}
{% block nav_watch %}active{% endblock %}
{% block curtain_scroll %}<script src='{{ url_for('static', filename='js/curtains.js') }}' type='text/javascript'></script>{% endblock %}

{% block content %}
    <div class='container-fluid curtain-wrapper px-0'>
        <input type='checkbox' checked></input>

        <div class='curtain-panel curtain-left'></div>
        
        <div id='vw' class='video-wrapper d-flex justify-content-center align-items-stretch'>
            <iframe style='' src="https://www.youtube.com/embed/Ry-Vb0b677g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class='curtain-panel curtain-right'></div>

    </div>
    
{% endblock %}
