{% extends "base.html" %}
{% set hero = "inactive" %}
{% set nomargin = "true" %}
{% block nav_watch %}active{% endblock %}
{% block curtain_scroll %}<script src='{{ url_for('static', filename='js/curtains.js') }}' type='text/javascript'></script>{% endblock %}
{% block fetch_form_js %}<script src='{{ url_for('static', filename='js/fetch-submit.js') }}' type='text/javascript'></script>{% endblock %}

{% block content %}
        <div class='d-none d-lg-block curtains px-0 mx-0 position-absolute overflow-visible' style='top:106px;'>
            <!-- Curtains - banner -->
            <div class='curtain-top position-absolute border-none'>
                <img id='curtain-img' src="{{url_for('static', filename='img/curtains-top.png')}}" width=100%></img>
            </div>

            <!-- Curtains - rusts (scroll-past) -->
            <!--<div class='curtains-rusts position-absolute'></div>-->
        </div>

        <div id='video' class='iframe-container'>
            <iframe src="https://www.youtube.com/embed/GNPgH-SJO7w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class='container mt-4'>
            <div class='row'>
                <div class='d-inline-flex justify-content-center my-3 mt-5'>
                    <a class='btn btn-primary btn-lg text-center me-2' href='https://www.youtube.com/live_chat?&v=GNPgH-SJO7w' target='_blank'>CHAT WITH OTHER VIEWERS</a>
                    <a class='btn btn-primary btn-lg text-center' href='{{ url_for('static', filename='assets/programme.pdf') }}' target='_blank'>DOWNLOAD THE PROGRAMME</a>
                </div>
            </div>
            
            {% if comments|length != 0 %}
            <h1 class='h1 mt-2 sub-font text-center pt-3'>
                MESSAGE BOARD
            </h1>
            <hr class='border-dark mb-3'>
            <div class='container g-3'>
                {% if comments|length > 5 %}<a href='#leave-comment' class='btn btn-sm btn-danger mb-3'>Leave your own!</a>{% endif %}
                {% for comment in comments %}
                    <div class='comment-item pb-2'>
                        <span class='fs-5 fw-bold'>{{comment['name']}}{% if comment['uoft'] != '' %} ({{comment['uoft']}}){% endif %}</span><span class='float-end fs-6 fst-italic text-muted'>{{comment['date-readable']}}</span>
                        <p class='fs-6'>{{comment['comment']}}</p>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            <h1 id='leave-comment' class='h1 mt-2 sub-font text-center pt-3'>
                POST A MESSAGE FOR THE TEAM
            </h1>

            <hr class='border-dark mb-3'>
            <div class='row'>
                <form id='comment-form' onsubmit='return fetchpost()'>
                    {{form.csrf_token}}
                    <div class='row g-1 mb-3'>
                        <input type='hidden' id='form-submit-url-endpoint' value='{{url_for('home')}}'>
                        <div class='form-floating col-sm-6 mb-3'>
                            {{form.name(class_='form-control', placeholder='Knights Kool')}}
                            {{form.name.label}}
                        </div>
                        <div class='form-floating col-sm-6 mb-3'>
                            {{form.uoft(class_='form-control', placeholder='ECE2T1')}}
                            {{form.uoft.label(class_='form-label')}}
                        </div>
                    </div>
                    <div class='form-floating mb-3'>
                        {{form.comment(class_='form-control', placeholder='Wow, another Skule Nite!', style='height: 200px;')}}
                        {{form.comment.label(class_='form-label')}}
                    </div>
                    <button type='submit' class='btn btn-primary'>Submit</button>
                    <div id='form-results-box' class='mt-2 text-muted'></div>
                </form>
            </div>
        </div>

{% endblock %}
